.bdstyle1{
	border-style: solid;
}

.bdstyle2{
	border-style: double;
}

.bdstyle3{
	border-style: dotted;
}

.bdstyle4{
	border-style: dashed;
}

.bdstyle5{
	border-style: inset;
}

.bdstyle6{
	border-style: outset;
}

.borderdesgin{
	width: 300px;
	height: 300px;
	color: red;
	background-color: orange;
	/*background: yellow;*/
	/*border-radius: 100%;
	border-radius: 50%;*/

	/*border-radius: 50px;*/

	border-radius: 50px 20px 50px 100px;

	/*ssc*/
	border:3px dashed red;
	/*border:3px dashed #7ba7ab;
	border:3px dashed rgba(123, 167, 171,1.00);*/


}

/*border-radius will shown in clockwise form */

li{
	/*list-style-type: circle ;*/
	/*list-style-type: square;
	list-style-type:none;*/
	/*list-style: none;*/

	/*list-style-type: decimal;*/
	list-style-type: decimal-leading-zero;

	/*border: 1px solid orange;*/
	border: 1px;
	border-style: solid;
	border-color: orange;

	list-style-position: inside;
	/*list-style-position: outside;*/
}

	/*Attribute Selector*/
input[type="text"]{

	border-radius: 30px;
	background-color: green;
	width: 300px;
	color: #fff;
}

input[type="password"]{

	width: 300px;
	background-color: silver;
	border-radius: 30px;

}


/*background position*/

body{
	background-image:url('../img/icon/icon1.png') ;
	background-repeat: no-repeat;
/*	background-position: center;
	background-position: left;*/
	/*background-position: right;*/
	/*background-position: top;*/
	/*background-position: bottom;*/
	/*background-position: right top;*/
	/*background-position: left top;*/
	/*background-position: right bottom;*/
	  background-position: left bottom;

	/*background-attachment: scroll;*/
	/*background-attachment: fixed;*/
}
/*
array=[]
function=name()*/