/*Tag To Tag*/

/*div span{
	color: red;
}*/

/*Multi Tags to Tag*/

/*div span p{
	color: red;
}
*/
/*Tag to Class*/

/*div .address{
	color: red;
}*/

/*Multi Tag to class*/

/*div span .address{
	color: red;
}*/

/*Multi tag to same class*/
div span small .name{
	color: red;
}

/*Class to Class*/
/*.money .currency{
	color: red;
}
*/
/*Multi Class to Class*/

/*.bank .money .currency{
	color: red;
}
*/
/*Class to Tag*/
/*.container p{
	color: red;
}*/

/*Class to Multi Tag*/
/*.container b span{
	color: red;
}
*/

/*Same Class*/
/*.mobile.jpn{
	color: green;
}

.mobile.cn{
	color: red;
}

.mobile.us{
	color: blue;
}*/

/*space mean child.. That why this is wrote without space*/

/*Class to same class*/
/*.vehicle .car.jpn{
	color: red;
}

.vehicle .car.cn{
	color: blue;
}

.vehicle .car.indo{
	color: green;
}

Class to Tag by group Selector
.div1 p, .div1 b{
	color: red;
}
*/
/*Child Selector (>) */

/*.div2 > p{
	color: red;
}
*/


/*Sibling Selector( ~ )*/
/*1. General Sibling Selector*/

/*.div4 ~ b{

	color: red;
}*/

/*2. Adjecent Sibling Selector ( + )*/
.div7 + p{
	color: red;
}
